@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Fira Sans"), local("FiraSans-Regular"), url(http://fonts.gstatic.com/s/firasans/v5/EjsrzDkQUQCDwsBtLpcVQZBw1xU1rKptJj_0jans920.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 700;
  src: local("Fira Sans Bold"), local("FiraSans-Bold"), url(http://fonts.gstatic.com/s/firasans/v5/DugPdSljmOTocZOR2CItOhampu5_7CjHW5spxoeN3Vs.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
  font-family: 'Fira Mono';
  font-style: normal;
  font-weight: 400;
  src: local("Fira Mono"), local("FiraMono"), url(http://fonts.gstatic.com/s/firamono/v3/SlRWfq1zeqXiYWAN-lnG-pBw1xU1rKptJj_0jans920.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

body {
  background-color: white;
  font-size: 14px;
  line-height: 1.6;
  font-family: "Fira Sans", sans-serif;
  color: #666;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

::-moz-selection {
  background: #f1c6c8;
}

::selection {
  background: #f1c6c8;
}

::-moz-selection {
  background: #f1c6c8;
}

img::-moz-selection {
  background: transparent;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

body {
  -webkit-tap-highlight-color: #f1c6c8;
}

a {
  color: #fff;
  text-decoration: none;
  outline: 0;
}
a:hover, a:focus {
  color: #e79da0;
}

.gigantic, .huge, .large, .bigger, .big,
h1, h2, h3, h4, h5, h6 {
  color: #222;
  font-weight: bold;
}

.gigantic {
  font-size: 110px;
  line-height: 1.09;
  letter-spacing: -2px;
}

.huge, h1 {
  font-size: 68px;
  line-height: 1.05;
  letter-spacing: -1px;
}

.large, h2 {
  font-size: 42px;
  line-height: 1.14;
}

.bigger, h3 {
  font-size: 26px;
  line-height: 1.38;
}

.big, h4 {
  font-size: 22px;
  line-height: 1.38;
}

.small, small {
  font-size: 10px;
  line-height: 1.2;
}

p {
  margin: 0 0 20px 0;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

hr {
  border: solid #ddd;
  border-width: 1px 0 0;
  clear: both;
  margin: 10px 0 30px;
  height: 0;
}

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.button:hover, .button:active, .button:focus,
button:hover,
button:active,
button:focus,
input[type="submit"]:hover,
input[type="submit"]:active,
input[type="submit"]:focus,
input[type="reset"]:hover,
input[type="reset"]:active,
input[type="reset"]:focus,
input[type="button"]:hover,
input[type="button"]:active,
input[type="button"]:focus {
  color: #333;
  border-color: #888;
  outline: 0;
}

.name-lockup {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 10px;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.fork-tag {
  position: absolute;
  top: 10px;
  right: -10px;
  background: #0074D9;
  color: white;
  padding: 2px 6px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform-origin: top right;
  -ms-transform-origin: top right;
  transform-origin: top right;
}
.fork-tag:hover {
  color: white;
  -webkit-animation: wiggle 0.4s linear 1;
  animation: wiggle 0.4s linear 1;
}

@-webkit-keyframes wiggle {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  20% {
    -webkit-transform: rotate(8deg);
    transform: rotate(8deg);
  }
  50% {
    -webkit-transform: rotate(-8deg);
    transform: rotate(-8deg);
  }
  80% {
    -webkit-transform: rotate(8deg);
    transform: rotate(8deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

@keyframes wiggle {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  20% {
    -webkit-transform: rotate(8deg);
    transform: rotate(8deg);
  }
  50% {
    -webkit-transform: rotate(-8deg);
    transform: rotate(-8deg);
  }
  80% {
    -webkit-transform: rotate(8deg);
    transform: rotate(8deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
.loader-wrap {
  -webkit-box-flex: 100%;
  -webkit-flex: 100%;
  -ms-flex: 100%;
  flex: 100%;
}

.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
}

.loader {
  color: #D34B50;
  font-size: 11px;
  text-indent: -99999em;
  margin: 55px auto;
  position: relative;
  width: 10em;
  height: 10em;
  -webkit-box-shadow: inset 0 0 0 1em;
  box-shadow: inset 0 0 0 1em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}

.loader:before,
.loader:after {
  position: absolute;
  content: "";
}

.loader:before {
  width: 5.2em;
  height: 10.2em;
  background: #fff;
  border-radius: 10.2em 0 0 10.2em;
  top: -0.1em;
  left: -0.1em;
  -webkit-transform-origin: 5.2em 5.1em;
  -ms-transform-origin: 5.2em 5.1em;
  transform-origin: 5.2em 5.1em;
  -webkit-animation: load2 2s infinite ease 1.5s;
  animation: load2 2s infinite ease 1.5s;
}

.loader:after {
  width: 5.2em;
  height: 10.2em;
  background: #fff;
  border-radius: 0 10.2em 10.2em 0;
  top: -0.1em;
  left: 5.1em;
  -webkit-transform-origin: 0px 5.1em;
  -ms-transform-origin: 0px 5.1em;
  transform-origin: 0px 5.1em;
  -webkit-animation: load2 2s infinite ease;
  animation: load2 2s infinite ease;
}

@-webkit-keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#app-body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

#home-section {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 65px 20px 0 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-transition: all 150ms ease-in-out;
  -o-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}
#home-section.nav-open {
  margin-left: -200px;
}

@media (max-width: 815px) {
  #home-section {
    margin-left: -150px;
  }

  #home-section.nav-open {
    margin-left: -150px;
  }
}
/**
 * Flex clases
 */
.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.flex--center {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.flex--column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.flex--space-around {
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

header.main-header {
  width: 100%;
  height: 60px;
  background: #D34B50;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  position: fixed;
  z-index: 10;
}
header.main-header .toogle-nav-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
header.main-header .toggle-nav {
  height: 40px;
  width: 40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 20px;
  cursor: pointer;
}
header.main-header .toggle-nav span {
  display: block;
  width: 25px;
  height: 3px;
  background: #fff;
  border-radius: 20px;
  position: relative;
}
header.main-header .toggle-nav span:before, header.main-header .toggle-nav span:after {
  content: "";
  display: block;
  width: 25px;
  height: 3px;
  background: #fff;
  border-radius: 20px;
  position: absolute;
}
header.main-header .toggle-nav span:before {
  bottom: 6px;
}
header.main-header .toggle-nav span:after {
  top: 6px;
}
header.main-header .logo {
  font-size: 25px;
  color: #fff;
  position: relative;
  top: 2px;
  left: 2px;
}
header.main-header form.search-form {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
}
header.main-header .search-form input[type="text"] {
  width: 100%;
  height: 33px;
  background: #fff;
  border: none;
  border-radius: 22px;
  outline: none;
  padding: 0 20px;
  font-size: 16px;
  color: #666;
}
header.main-header .search-form input[type="text"]::-webkit-input-placeholder {
  color: #181D21;
}
header.main-header .search-form input[type="text"]:-ms-input-placeholder {
  color: #181D21;
}
header.main-header .search-form input[type="text"]::placeholder {
  color: #181D21;
}
header.main-header .search-form button[type="submit"] {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  border: none;
  outline: none;
  position: absolute;
  right: -10px;
}
header.main-header .search-form button[type="submit"] svg {
  width: 24px;
  height: 24px;
}
header.main-header .account-section {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin-right: 20px;
}
header.main-header .username {
  color: #fff;
  font-size: 15px;
  margin-right: 10px;
}
header.main-header .avatar {
  height: 40px;
  width: 40px;
  background: #fff;
  border-radius: 50%;
  position: relative;
}
header.main-header .avatar img {
  position: absolute;
  border-radius: 50%;
  border: 1px solid #fff;
  height: 40px;
  width: 40px;
}

@media (max-width: 815px) {
  header.main-header form.search-form {
    -webkit-box-flex: 2;
    -webkit-flex: 2;
    -ms-flex: 2;
    flex: 2;
  }
  header.main-header .logo {
    display: none;
  }
  header.main-header .username {
    display: none;
  }
}
@media (max-width: 325px) {
  header.main-header .search-form button[type="submit"] {
    display: none;
  }
}
nav.site-nav {
  width: 200px;
  min-height: 100vh;
  background: #181D21;
  -webkit-transition: all 100ms ease-in-out;
  -o-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
  position: relative;
  z-index: 5;
}
nav.site-nav.is-close {
  -webkit-transform: translateX(-200px);
  -ms-transform: translateX(-200px);
  transform: translateX(-200px);
}
nav.site-nav .site-nav-position {
  width: 200px;
  padding: 25px 0;
  position: fixed;
  background: #181D21;
  top: 60px;
  left: 0;
  bottom: 0;
}
nav.site-nav .nav-head-text {
  margin: 0;
  padding: 10px 0 0px 15px;
  letter-spacing: 1px;
  color: #3A4B52;
}
nav.site-nav .nav-list {
  padding-left: 0px;
  margin: 10px 0;
  list-style: none;
}
nav.site-nav .link {
  width: 100%;
  margin-bottom: 5px;
  -webkit-transition: all 100ms ease-in-out;
  -o-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
nav.site-nav .link a {
  width: 100%;
  display: block;
  padding-left: 22px;
  color: #b3b3b3;
  border-left: 3px solid transparent;
  -webkit-transition: all 100ms ease-in-out;
  -o-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
}
nav.site-nav .link a:hover, nav.site-nav .link a:focus, nav.site-nav .link a:active {
  color: #fff;
}
nav.site-nav .link a:focus {
  border-left: 3px solid #D34B50;
}
nav.site-nav .nav-social {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  bottom: 10px;
  left: 0px;
}
nav.site-nav .nav-social .social-link {
  display: block;
  padding: 5px;
}
nav.site-nav .nav-social .social-link svg {
  width: 24px;
  height: 24px;
  fill: #fff;
  -webkit-transition: all 100ms ease-in-out;
  -o-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
}
nav.site-nav .nav-social .social-link svg:hover {
  fill: #D34B50;
}

@media (max-width: 815px) {
  nav.site-nav {
    width: 150px;
    -webkit-transform: translateX(-200px);
    -ms-transform: translateX(-200px);
    transform: translateX(-200px);
  }
  nav.site-nav.is-close {
    -webkit-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
  }
  nav.site-nav .site-nav-position {
    width: 150px;
  }
}
article.show {
  margin-top: 20px;
  margin-left: 5px;
  margin-right: 5px;
  width: 200px;
  height: 350px;
  cursor: pointer;
  position: relative;
}
article.show .show-pic img {
  max-width: 100%;
  border-radius: 8px;
}
article.show .show-pic img:after {
  content: "";
  width: 200px;
  height: 281px;
  background: rgba(0, 0, 0, 0.6);
  border: 3px solid #D34B50;
  border-radius: 8px;
  -webkit-transition: all 100ms ease-in-out;
  -o-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
  position: absolute;
  top: 0;
  z-index: 10;
}
article.show .show-meta {
  line-height: 1.4;
}
article.show .show-meta .name {
  font-weight: 600;
  font-size: 16px;
  margin-top: 5px;
  color: #181D21;
}

@media (max-width: 815px) {
  article.show {
    width: 45%;
    height: auto;
    text-align: center;
  }
}
article.show-alone {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
article.show-alone div.show-container {
  padding: 20px;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}
article.show-alone .img-wrapper {
  width: 40%;
  max-width: 400px;
}
article.show-alone .img-wrapper img {
  width: 100%;
  border-radius: 7px;
}
article.show-alone .show-meta-alone {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-left: 20px;
}
article.show-alone .show-meta-name {
  font-size: 34px;
  font-weight: 600;
  margin-bottom: 0px;
  color: #181D21;
  line-height: 1;
  margin: 10px 0;
}
article.show-alone .show-meta-summary p {
  margin: 0;
  font-size: 15px;
  line-height: 1.5;
  letter-spacing: 0.3px;
  text-align: justify;
}

@media (max-width: 815px) {
  article.show-alone div.show-container {
    display: block;
  }
  article.show-alone .img-wrapper {
    width: 100%;
    margin: 0 auto;
  }
  article.show-alone .img-wrapper img {
    min-width: 100%;
  }
  article.show-alone .show-meta-alone {
    text-align: center;
    margin: 0;
  }
}


